ðŸ§  Python Concepts & Practice

Nested Loops.....

In [7]:
##Concept: You can nest if-else blocks inside loops to make more complex decisions.

nums = [21, 20, 30, 4, 9]
for num in nums:
    if num % 2 == 0:
        if num > 20:        
            print( num, "is even and greater than 20")
        else:
            print( num,"is even and less than 20")
    else:    
        print(num,"is odd")

21 is odd
20 is even and less than 20
30 is even and greater than 20
4 is even and less than 20
9 is odd

âœ… List Comprehensions

In [11]:
##Concept: A clean way to create new lists from existing iterables.

squares = [x*x for x in range(10)]
print(squares)

evens = [x for x in range(20) if x % 2 ==0 ]
print(evens)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

âœ… enumerate() and zip()

In [13]:
## enumerate(): Adds index to iteration.---------------

fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

##zip(): Combines multiple iterables.-------------------

names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]

for name, score in zip(names, scores):
    print(f"{name} scored {score}")

0: apple
1: banana
2: cherry
Alice scored 85
Bob scored 92
Charlie scored 78

âœ… Functions (Parameters, Return, Scope)
Parameters: These are the inputs a function receives when it's called. Think of them like the ingredients you need to make a recipe. You can pass different values to the function, just like you might use different ingredients in a recipe.

Return: This is what the function sends back to the caller after it's executed. It's like the final dish you create after following the recipe. The return value can be a simple value, like a number or a string, or even a more complex object.

Scope: This refers to the area where a function can access variables and other resources. Think of it like a private kitchen where you can store your ingredients and cooking tools. The scope of a function determines what's available to use within that function.

In [16]:
def greet(name):  # â† 'name' is the parameter
    print(f"Hello, {name}!")

greet("Alice")  # â† "Alice" is the argument passed to 'name'



def add(a, b):    ## multiple parameters( a & b )
    print(a + b)

add(3, 4)  # Output: 7

#Return 
def add(a, b):
    return a + b  # â† sends the result back

result = add(5, 7)
print(result)  # Output: 12

## Scope
x = 10  # â† global variable

def show():
    x = 5  # â† local to this function
    print("Inside function:", x)
                                    ## Variables defined inside a function (like x = 5) stay inside. They donâ€™t affect the x outside.
show()
print("Outside function:", x)

##to modify a global variable inside a function, you can use the global keywordâ€”but use with caution:
x = 10

def change():
    global x
    x = 20

change()
print(x)  # Output: 20

Hello, Alice!
7
12
Inside function: 5
Outside function: 10
20

ðŸ§© Logic & Problem Solving

-->1. HackerRank-Style Problems (Easy Level)

In [ ]:
##Youâ€™re given two lists a and b, each with 3 integers. Compare each index:
#+1 point to whoever has the higher value at that position.
#No points if equal.
#Return the total points as a list: [a_score, b_score].

def compareTriplets(a, b):
    score_a = 0
    score_b = 0

    for i in range(3):
        if a[i] > b[i]:
            score_a += 1
        elif a[i] < b[i]:
            score_b += 1

    return [score_a, score_b]

# Test:
print(compareTriplets([5, 6, 7], [3, 6, 10]))  # Output: [1, 1]

--> 2. Logic-Based Puzzles (with Loops + Conditionals)

In [26]:
#Puzzle 1: FizzBuzz Variant
#Print numbers from 1 to 30.
#If divisible by 3, print "Fizz".
#If divisible by 5, print "Buzz".
#If both, print "FizzBuzz".
#Else, just print the number

for i in range (1, 31):
    if i % 5 ==0 and i % 3 ==0 : ## has to be above...!
        print(i,"FizzBuzz")
    if i % 5 == 0:
        print(i,"Buzz")
    elif i % 3 == 0:
        print(i,"Fizz")
    else:
        print(i,"just a number")


##Puzzle 2: Count Even and Odd Digits
## Given a number, count how many digits are even and how many are odd.
def count_even_odd(num):
    even = odd = 0
    for digit in str(num):
        if int(digit) % 2 == 0:
            even += 1
        else:
            odd += 1
    return even, odd

print(count_even_odd(1292338763))  # Output: (4, 6)

1 just a number
2 just a number
3 Fizz
4 just a number
5 Buzz
6 Fizz
7 just a number
8 just a number
9 Fizz
10 Buzz
11 just a number
12 Fizz
13 just a number
14 just a number
15 FizzBuzz
15 Buzz
16 just a number
17 just a number
18 Fizz
19 just a number
20 Buzz
21 Fizz
22 just a number
23 just a number
24 Fizz
25 Buzz
26 just a number
27 Fizz
28 just a number
29 just a number
30 FizzBuzz
30 Buzz
(4, 6)

----> 3. Debugging Challenge

In [28]:
## Buggy...!!
def mystery(x, y):
    if x = y:
        return x + y
    else:
        return x - y

print(mystery(5, 5))



def myst(a, b):
    if a == b:
        return a+b
    else:
        return a-b

print(myst(9, 9))

10
18

ðŸ“Š Mini Project / Data Wrangling

In [37]:
##---> Basic CSV Handling

import pandas as pd
df = pd.read_csv("people.csv")

print(df.head(8)) ## Show first 8 rows
print("\n1------------------------------------------------------------------------------")

print(df.columns)   # All column names
print("\n2------------------------------------------------------------------------------")

print(df.info())        # Summary: non-null, dtypes
print("\n3------------------------------------------------------------------------------")

print(df.describe())    # Stats for numeric columns
print("\n4------------------------------------------------------------------------------")

# Filter people older than 30
print(df[df['age'] > 30])
print("\n5------------------------------------------------------------------------------")

# Filter New York employees with salary > 90000
print(df[(df['city'] == 'New York') & (df['salary'] > 90000)])
print("\n6------------------------------------------------------------------------------")

# Average salary by city
print(df.groupby('city')['salary'].mean())

      name  age         city  salary
0    Alice   29     New York   85000
1      Bob   35  Los Angeles   92000
2  Charlie   22      Chicago   55000
3    Diana   31     New York   99000
4    Ethan   27       Austin   71000
5      Fay   24      Chicago   63000
6   George   45  Los Angeles  105000
7   Hannah   30     New York   87000

1------------------------------------------------------------------------------
Index(['name', 'age', 'city', 'salary'], dtype='object')

2------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   age     10 non-null     int64
 2   city    10 non-null     object
 3   salary  10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

3------------------------------------------------------------------------------
             age         salary
count  10.000000      10.000000
mean   30.200000   81900.000000
std     6.545567   16676.330532
min    22.000000   55000.000000
25%    26.250000   68750.000000
50%    29.500000   86000.000000
75%    32.500000   93500.000000
max    45.000000  105000.000000

4------------------------------------------------------------------------------
     name  age         city  salary
1     Bob   35  Los Angeles   92000
3   Diana   31     New York   99000
6  George   45  Los Angeles  105000
9    Jade   33      Chicago   94000

5------------------------------------------------------------------------------
    name  age      city  salary
3  Diana   31  New York   99000

6------------------------------------------------------------------------------
city
Austin         69500.000000
Chicago        70666.666667
Los Angeles    98500.000000
New York       90333.333333
Name: salary, dtype: float64

Extraaaas.........!
- [1] Explore `lambda`, `map()`, `filter()` functions
- [2] A small coding challenge using recursion

In [38]:
# lambda: Anonymous (one-line) function
square = lambda x: x * x
print(square(5))  # Output: 25


## map(): Apply a function to all items in an iterable
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)  # [1, 4, 9, 16]

##  filter(): Keep only items that match a condition
nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # [2, 4, 6]

##Classic recursion : Factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))  # Output: 120

25
[1, 4, 9, 16]
[2, 4, 6]
120

####BUT got into a doubt: How this recursion repeats itself to make to n =1
---> Came to the solution: "factorial(n- 1)" keeps calling itself with a smaller number until it hits the base case (n == 1), then starts returning back up.
Like this...
factorial(5) â†’
return 5 * factorial(4)

factorial(4) â†’
return 4 * factorial(3)

factorial(3) â†’
return 3 * factorial(2)

factorial(2) â†’
return 2 * factorial(1)

factorial(1) â†’
âœ… Base case! return 1